main{
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    
}

legend{
    margin: 1em 0;
    font-weight: 700;
}

fieldset{
    border: none;
}

input:focus, input:hover{
    outline: none;
    background-color: #daccb9;
}
    

input{
    background-color: var(--cor-fundo);
    border: none;
    padding: 1em;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

form > div{
    margin: 0 auto;
    max-width: 80%;
    background-color: var(--cor-fundo-cards);
    border: none;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    gap: 2rem;
}

#cidade-estado{
    display:flex;
    gap: .5rem;

}
#div-cidade{
    width: 75%;
}

#div-estado{
    width: 25%;
}

button {
    background-color: inherit;
    border: none;
    padding: 1em;
    font-weight: 700;
    color: black;
    font-size: 1.15rem;
}

button a{
    color: var(--cor-acento);
    font-size: 1.15rem;

}

button a:hover{
    color: var(--cor-texto);
}

#cadastrar{
    font-size: 1.05rem;
    font-weight: 700;
    align-self: flex-end;
    color: var(--cor-acento);
}

#cadastrar:hover{
 background-color: var(--cor-fundo);
 cursor: pointer;
}

@media screen and (max-width: 768px) {
    form > div{
        flex-direction: column;
        gap: 1rem;
    }
    #cidade-estado{
        flex-direction: column;
    }
    #div-cidade{
        width: 100%;
    }
    #div-estado{
        width: 100%;
    }
    #cadastrar{
        align-self: center;
    }
    
}