
/* main */
main{
    min-height: calc(100vh - 12rem);
}

#hero{
    margin: 2rem auto;
    width: 80%;
    background-color: var(--cor-fundo-cards);
    font-size: 1.25rem;
    text-align: center;
    padding: 2rem;
}

#jogos{
    margin: 0 auto;
    width: 90%;
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card-jogo{
    margin: 0 auto;
    width: 80%;
    background-color: var(--cor-fundo-cards);
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.5);
}

.card-jogo-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

.card-jogo h3{
    text-transform: uppercase;
    font-size: 1.25rem;
}

.card-jogo p{
    font-size: 1rem;
}
.card-jogo img{
    height: 75%;
    width: 100%;
}
