main{
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
}

legend{
    margin: 1em 0;
    font-weight: 700;
}

fieldset{
    border: none;
}

input:focus, input:hover{
    outline: none;
    background-color: #daccb9;
}

span > a{
    float: right;
    color: var(--cor-texto);
    margin-bottom: .25rem;
}

span a:hover{
    color: var(--cor-acento);
}

input{
    background-color: var(--cor-fundo);
    border: none;
    padding: 1em;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

form {
    background-color: var(--cor-fundo-cards);
    border: none;
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    gap: 2rem;
}

button {
    background-color: inherit;
    border: none;
    padding: 1em;
    font-weight: 700;
    color: black;
    font-size: 1.15rem;
}

button a{
    color: var(--cor-acento);
    font-size: 1.15rem;
}

button a:hover{
    color: var(--cor-texto);
}

#cadastrar{
    align-self: flex-end;
}

#input-login{
    font-size: 1rem;
    font-weight: 700;
    color: var(--cor-acento);
}

#input-login:hover{
    background-color: var(--cor-fundo);
    cursor: pointer;
}