main{
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);    
}


form {
    background-color: var(--cor-fundo-cards);
    border: none;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    gap: 2rem;
}

input{
    background-color: var(--cor-fundo);
    border: none;
    padding: 1em;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}